* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-img {
  width: 200px;
  height: 200px;
}

.card-title {
  text-align: center;
}

.card-original-price strike {
  font-size: 20px;
  color: rgb(255, 0, 0);
}

.card-container {
  box-shadow: 0px 0px 12px rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.main-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 10px; */
  gap: 15px;
}

.card-button {
  width: 50%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.card-button:hover {
  scale: 1.1;
  background-color: rgb(153, 154, 154);
  color: white;
}

.products-search-bar {
  text-align: center;
  margin-top: 50px;
}

.products-search-bar input {
  width: 60%;
  background-color: black;

  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
}

.products-search-bar input:focus {
  outline: none;
}

.products-search-bar input::placeholder {
  color: white;
}

@media (min-width: 250px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: 10px; */
  }
}

@media (min-width: 500px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 10px; */
  }
}

@media (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 10px; */
  }
}

@media (min-width: 1000px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin: 10px; */
  }
}

@media (min-width: 1300px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* margin: 10px; */
  }
}
